<br>
<table class="table table-striped table-hover">
	<thead></thead>
		<tr class="table-header">
			<th>Name</th>
			<th>Created</th>
			<th>Updated</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= link_to user.username, user_path(user), :class=>"link link-animated" %></td>
				<td><%= time_ago_in_words(user.created_at) %></td>
				<td><%= time_ago_in_words(user.updated_at) %></td>
			</tr>
		<% end %>
	</tbody>
</table>