.btn {
    border: 1px solid #c4c4c4; 
    font-size: 13px;
    color: #333;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    &:not(.no-box-shadow) {
        box-shadow: 0px 0px 8px #d9d9d9;
    }
    box-sizing: border-box;
}

.btn {
  background-image: linear-gradient(to right, #4d4d4d, #4d4d4d);
  &.color-primary {
    background-image: linear-gradient(to right, #fff, #fff);
  }
  &.color-success {
    background-image: linear-gradient(to right, #fff, #fff);
  }
  &.color-info {
    background-image: linear-gradient(to right, #fff, #fff);
  }
  &.color-warning {
    background-image: linear-gradient(to right, #fff, #fff);
  }
  &.color-danger {
    background-image: linear-gradient(to right, #fff, #fff);
  }
  &.color-white {
    background-image: linear-gradient(to right, #4d4d4d, #4d4d4d);
  }
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 0.3s;
}

.btn:hover {
  background-size: 100% 2px;
}

.btn:focus {
  background-size: 100% 2px;
  outline: none; 
  border: 1px solid #7bc1f7;
  &::-moz-focus-inner {
      border: none;
  }
}

.btn:focus:hover {
    outline: none; 
    border: 1px solid #7bc1f7;
    &::-moz-focus-inner {
        border: none;
    }
}

.btn {
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    color: #333;
}

.btn-xl {
    border: 1px solid #c4c4c4; 
    font-size: 15px;
    padding: 12px 12px 12px 12px;
}

.btn-lg {
    border: 1px solid #c4c4c4; 
    font-size: 14px;
    padding: 8px 8px 8px 8px;
}

.btn-sm {
    border: 1px solid #c4c4c4; 
    font-size: 12px;
    padding: 3px 3px 3px 3px;
}

.btn-xs {
    border: 1px solid #c4c4c4; 
    font-size: 11px;
    padding: 2px 2px 2px 2px;
}

.btn-mini {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}

.btn-micro {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}