.hr-quarter {
	float: left;
    width: 98px;
    @media only screen and (max-width:500px) {
         width: 19.6%;
    }
}

.hr-wide {
	float: left;
    width: 400px;
    @media only screen and (max-width:500px) {
         width: 80%;
    }
}
.hr-medium {
	float: left;
    width: 250px;
    @media only screen and (max-width:500px) {
         width: 50%;
    }
}

.hr-narrow {
	float: left;
    width: 100px;
    @media only screen and (max-width:500px) {
         width: 20%;
    }
}