.input {
    border: 1px solid #c4c4c4; 
    height: 30px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    box-sizing: border-box;
}
 
.input:focus {
    outline: none;
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
}

.input-xl {
    height: 30px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
}

.input-lg {
    height: 25px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
}

.input-sm {
    height: 20px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
}

.input-xs {
    height: 15px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
}

.select-mini {
    height: 14px;
    font-size: 12px;
    padding: 4px 4px 4px 4px;
}

.select-micro {
    height: 12px;
    font-size: 10px;
    padding: 4px 4px 4px 4px;
}