.select {
    border: 1px solid #c4c4c4; 
    font-size: 13px;
    color: #333;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
     &:not(.no-box-shadow) {
        box-shadow: 0px 0px 8px #d9d9d9;
    }
    box-sizing: border-box;
}

.select:focus {
    outline: none; 
    border: 1px solid #7bc1f7;
    &::-moz-focus-inner {
      border: none;
    }
    &:not(.no-box-shadow) {
        box-shadow: 0px 0px 8px #7bc1f7; 
    }
}

.select-xl {
    border: 1px solid #c4c4c4; 
    font-size: 15px;
    padding: 12px 12px 12px 12px;
}

.select-lg {
    border: 1px solid #c4c4c4; 
    font-size: 14px;
    padding: 8px 8px 8px 8px;
}

.select-sm {
    border: 1px solid #c4c4c4; 
    font-size: 12px;
    padding: 3px 3px 3px 3px;
}

.select-xs {
    border: 1px solid #c4c4c4; 
    font-size: 11px;
    padding: 2px 2px 2px 2px;
}

.select-mini {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}

.select-micro {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}