.select {
    border: 1px solid #c4c4c4; 
    font-size: 13px;
    color: #333;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     &:not(.no-box-shadow) {
        box-shadow: 0px 0px 8px #d9d9d9;
        -moz-box-shadow: 0px 0px 8px #d9d9d9;
        -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    }
    box-sizing: border-box;
}

.select:focus {
    outline: none; 
    border: 1px solid #7bc1f7;
    &:not(.no-box-shadow) {
        box-shadow: 0px 0px 8px #7bc1f7; 
        -moz-box-shadow: 0px 0px 8px #7bc1f7; 
        -webkit-box-shadow: 0px 0px 8px #7bc1f7;    
    }
}

.select-xl {
    border: 1px solid #c4c4c4; 
    font-size: 15px;
    padding: 12px 12px 12px 12px;
}

.select-lg {
    border: 1px solid #c4c4c4; 
    font-size: 14px;
    padding: 8px 8px 8px 8px;
}

.select-sm {
    border: 1px solid #c4c4c4; 
    font-size: 12px;
    padding: 3px 3px 3px 3px;
}

.select-xs {
    border: 1px solid #c4c4c4; 
    font-size: 11px;
    padding: 2px 2px 2px 2px;
}

.select-mini {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}

.select-micro {
    border: 1px solid #c4c4c4; 
    font-size: 10px;
    padding: 1px 1px 1px 1px;
}

.select-round {
    border-radius: 50px !important;
    background: lightgray;
}

.select-padding-extra-wide {
    padding-right: 100px;
    padding-left: 100px;
}

.select-padding-wide {
    padding-right: 80px;
    padding-left: 80px;
}

.select-padding-narrow {
    padding-right: 25px;
    padding-left: 25px;
}

.select-padding-extra-narrow {
    padding-right: 10px;
    padding-left: 10px;
}

.select-margin-extra-wide {
    margin: 20px;
}

.select-margin-wide {
    margin: 12px;
}

.select-margin-narrow {
    margin: 8px;
}

.select-margin-extra-narrow {
    margin: 4px;
}

.select-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.select-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.select-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.select-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.select-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.select-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.select-white {
    color: #5e5e5e;
    background-color: #fff;
    border: 1px solid #e5e9ec;
}