.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.word-wrap {
    word-wrap: break-word;
}

.word-wrap-none {
    white-space: nowrap;
}

.circular {
    border-radius:  50%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-top {
    float: top;
}

.float-bottom {
    float: bottom;
}

@for $i from 1 through 100 {
    .width-percent-#{$i} {width: 1% * $i;}
}

@for $i from 1 through 100 {
    .height-percent-#{$i} {
    	position: absolute;
    	box-sizing: border-box;
        min-height: 10% * $i;
    	max-height: 10% * $i;
    	overflow-y: scroll;
    	max-width: 100%;
    }
}

.height-percent-container {
    position: relative;
    float: left;
}

@for $i from 1 through 100 {
    .width-percent-#{$i} {width: 1% * $i;}
}

@for $i from 1 through 1000 {
    .height-px-#{$i} {height: 1px * $i;}
}

.overflow-scroll {
    overflow-y: auto;
}

.overflow-hidden {
    overflow-y: hidden;
}

.overflow-side-scroll {
    overflow-x: auto;
}

.margin-side {
    margin-right: 2px;
    margin-left: 2px;
}

.padding-extra-wide {
    padding-right: 100px;
    padding-left: 100px;
}

.padding-wide {
    padding-right: 80px;
    padding-left: 80px;
}

.padding-narrow {
    padding-right: 25px;
    padding-left: 25px;
}

.padding-extra-narrow {
    padding-right: 10px;
    padding-left: 10px;
}

.margin-extra-wide {
    margin: 20px;
}

.margin-wide {
    margin: 12px;
}

.margin-narrow {
    margin: 8px;
}

.margin-extra-narrow {
    margin: 4px;
}